div.wrapper {
  width: 50%;
  margin: 0 auto;
}

.item {
  width: 180px;
  display: inline-block;
}
.gray {
  background-color: #ccc;
}
.search-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  gap: 50%;
}
